{% extends 'layout.html.twig' %}

{% block title %}{{ 'detail_payments'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'detail_payments'|trans }}</span>
            </div>
            <div class="div-bottom">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 paddingBottomMiddle gray_text">
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'transaction_id'|trans }}</label>
                            <p>{{ payment.transactionId }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'date'|trans }}</label>
                            <p>{{ payment.createdDate|date("Y-m-d H:i") }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'receiver_account'|trans }}</label>
                            <p>{{ payment.receiverAccount }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'receiver_name'|trans }}</label>
                            <p>{{ payment.receiverName }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'amount'|trans }}</label>
                            <p>{{ payment.amount }} {{ payment.currency.title }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'details'|trans }}</label>
                            <p>{{ payment.details|nl2br }}</p>
                        </div>
                        <div class="paddingTopSmall input_row">
                            <label class="input_check_label">{{ 'status'|trans }}</label>
                            <p>{{ payment.getStatusByText }}</p>
                            {% if payment.isNotConfirmed %}
                                <div class="text-center">
                                    <form action="{{ path('confirm_payment', {'transactionId': payment.transactionId }) }}" method="GET">
                                        <input class="button_gray" type="submit" id="_submit" name="_submit" value="{{ 'confirm_btn'|trans }}" />
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
