{% extends 'layout.html.twig' %}

{% block title %}{{ 'all_payments'|trans }}{% endblock %}

{% block body %}

    <div id="banner">
        <div id="banner-item" class="text-center">

            <div class="div-top">
                <span class="cta-title">{{ 'all_payments'|trans }}</span>
            </div>
            <div class="div-bottom">
                {#<div class="row">#}
                    <div class="col-lg-offset-3">
                            <div class="paddingBottomMiddle">
                                <div class="history-title payment_div1 text-left bold">{{ 'date'|trans }}</div>
                                <div class="history-title payment_div3 text-center bold">{{ 'receiver_name'|trans }}</div>
                                <div class="history-title payment_div3 text-center bold">{{ 'receiver_account'|trans }}</div>
                                <div class="history-title payment_div2 text-center bold">{{ 'amount'|trans }}</div>
                                <div class="history-title payment_div2 text-center bold">{{ 'fee'|trans }}</div>
                                <div class="history-title payment_div1 text-center bold">{{ 'status'|trans }}</div>
                                <div class="history-title payment_div2 text-right bold">&nbsp;</div>
                            </div>
                            <div class="clear-left"></div>
                        {% set no_payments = false %}
                        {% for payment in payments %}
                            <div class="paddingBottomMiddle">
                                <div class="history-title payment_div1 text-left">{{ payment.createdDate|date("Y-m-d H:i") }}</div>
                                <div class="history-title payment_div3 text-center">{{ payment.receiverName }}</div>
                                <div class="history-title payment_div3 text-center">{{ payment.receiverAccount }}</div>
                                <div class="history-title payment_div2 text-center">{{ payment.amount }} {{ payment.currency.title }}</div>
                                <div class="history-title payment_div2 text-center">{% if payment.fee %}{{ payment.fee }} {{ payment.currency.title }}{% else %}-{% endif %}</div>
                                <div class="history-title payment_div1 text-center">{{ payment.getStatusByText }}</div>
                                <div class="history-title payment_div2 text-right bold">
                                    <a href="{{ path('details_payment', {'transactionId': payment.transactionId}) }}">{{ 'details'|trans }}</a>
                                </div>
                            </div>
                            <div class="clear-left"></div>
                        {% else %}
                            {% set no_payments = true %}
                        {% endfor %}
                    </div>
                {#</div>#}
            </div>

            {% if no_payments %}
                <div class="div-bottom">
                    <div class="row">
                        <span class="gray_text small">{{ 'no_payments'|trans }}</span>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
