{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <span class="red-color small">{{ error.message }}</span>
        {% endfor %}
    {% endspaceless %}
{% endblock %}