{% extends 'layout.html.twig' %}

{% block title %}{{ 'layout.login'|trans }}{% endblock %}

{% block body %}
    <div id="banner" class="bgcolor">
        <div id="banner-item-sub">
            <div class="container">

                <div class="row text-center">
                    <div class="col-lg-4 col-lg-offset-4">
                        <span class="bold cta-title">{{ 'layout.login'|trans }}</span>
                    </div>
                </div>

                {% if error %}
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="text-center red-color bold paddingTopSmall">
                                {{ error.messageKey|trans(error.messageData, 'security')|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 paddingTopSmall">
                        <form action="{{ path("login_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            {% endif %}

                            <div class="paddingTopSmall input_row">
                                <label class="input_check_label">{{ 'email'|trans({}, 'messages') }}</label>
                                <input placeholder="{{ 'form.email'|trans }}" class="input_with_label" type="email"
                                       id="username" name="_username" value="{{ last_username }}" required="required"/>
                            </div>

                            <div class="paddingTopMiddle input_row">
                                <label class="input_check_label">{{ 'password'|trans({}, 'messages') }}</label>
                                <input placeholder="{{ 'security.login.password'|trans }}" class="input_with_label"
                                       type="password" id="password" name="_password" required="required"
                                       autocomplete="current-password"/>
                            </div>

                            <input type="hidden" id="remember_me" name="_remember_me" value="on"/>

                            <div class="text-center">
                                <input class="button_next" type="submit" id="_submit" name="_submit"
                                       value="{{ 'security.login.submit'|trans }}"/>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="paddingTopMiddle"></div>
            </div>
        </div>
    </div>
{% endblock %}
