{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.css') }}?{{ version }}">
{% endblock %}

{% block header %}
    <!--HEADER START-->
    <div class="main-navigation navbar-fixed-top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("home") }}">
                        {{ 'title'|trans }}
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">

                        {% set route = app.request.get('_route') %}

                        <li {% if route == 'home' %}class="active"{% endif %}>
                            <a href="{{ path("home") }}">{{ 'menu_home'|trans }}</a>
                        </li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li {% if route == 'balance' %}class="active"{% endif %}>
                                <a href="{{ path("balance") }}">{{ 'menu_balance'|trans }}</a>
                            </li>
                            <li {% if route == 'payments' %}class="active"{% endif %}>
                                <a href="{{ path("payments") }}">{{ 'menu_payments'|trans }}</a>
                            </li>
                            <li><a href="{{ path("logout") }}">{{ 'menu_logout'|trans }}</a></li>
                        {% else %}
                            <li {% if route == 'login' %}class="active"{% endif %}>
                                <a href="{{ path("login") }}">{{ 'menu_login'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--HEADER END-->
{% endblock %}

{% block javascripts %}
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="{{ asset('build/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/assets/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('build/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/assets/js/custom.js') }}?{{ version }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% endblock %}
